/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front {
	z-index: 1;
	-webkit-backface-visibility: hidden;


}
.portfolio-item{
	display: inline-block;
	height: 200px;
}
.back {
	z-index:-1;
	position: relative;
	top: -200px;
	/*opacity: 0;*/
	-webkit-backface-visibility: hidden;
	transform: rotateY(180deg);

}
div.back:hover{
	/*transform: rotateY(180deg);*/
	/*opacity: 1;*/
	/*transition: .5s;*/
	/*transform-style: preserve-3d;*/
}
div.front:hover{
	/*transform: rotateY(180deg);*/
	/*transform-style: preserve-3d;*/
	/*transition: 0s;*/
	/*opacity: 0;*/
}

.portfolio {
	-webkit-perspective: 1;
}

.portfolio-item:hover .front{
	-webkit-transform: rotateY(180deg);
	transition: all 1s ease;
	position: relative;
	-webkit-transform-style: preserve-3d;
}
.portfolio-item:hover .back{
	-webkit-transform: rotateY(0deg);
	transition: all 1s ease;
	position: relative;
	-webkit-transform-style: preserve-3d;
}