/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front {
	z-index: 2;


}
.back {
	position: absolute;
	top: 111px;
	opacity: 0;

}
div.back:hover{
	/*transform: rotateY(180deg);*/
	opacity: 1;
}
div.front:hover{
	transform: rotateY(0deg);
}